body{
    background: #50763b;
    width:100%;
    font: 12px/20px Verdana, Arial, sans-serif;
    color:#fff;
}

#all {
    width:960px;
    padding:0 10px;
    margin: 0 auto 20px;
    overflow: hidden;
}


header h1 {
    font-size: 50px;
}

header {
    position: relative;
    margin-top: 20px;
    height: 300px;
}

header nav {
    position: absolute;
    right: 0;
    top:10px;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    float:left;
    margin-left: 5px;
    position: relative;
    list-style: none;
    background-color: lightskyblue;
}

header nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 14px;
    padding:4px 8px;
    display: inline-block;
}

#center {
    padding: 0 10px;
    overflow: hidden;
}


#center h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#content{
    float: left;
    width: 620px;
}

article {
    padding-bottom: 30px;
    text-align: justify;
}

#content section.down ul{
    margin:0;
    padding:0;
    overflow: hidden;
}

#content section.down ul li{
    float:left;
    width: 300px;
    margin-right: 20px;
}



aside {
    float:right;
    margin: 0 1.5%;
    width:200px;
}

aside section{
    margin-bottom: 20px;
    overflow: hidden;
}

footer {
    clear:both;
    margin-top:20px;
    padding:15px;
    background: #84BA4E;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}

footer nav ul {
    margin:0;
    padding:0;
}
footer nav ul li{
    float:left;
    margin-left: 20px;
    position: relative;
    list-style: none;
}
footer nav ul li a{
    text-decoration: none;
    color: inherit;
}

#center h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 35%;
}

div.gallery img {
    width: 100%;
    height: 200px;
}

header h1 {
    font-size: 80px;
    text-align: left;
}
